<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    <form class="modal-content" action="">
        <div class="container">
            <h1>Sign In</h1>
            <p>Please enter user details to log in.</p>
            <hr>

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter username" id="usernameB" required>
            
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" id="emailB" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="pswB" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" id="pswrepeatB" required>

            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <div class="clearfix">
                <button type="button" onclick="onCloselogInModal()" class="cancelbtn">Cancel</button>
                <button type="submit" class="logInbtn" onclick="onLogIn()">Log In</button>
            </div>
        </div>
    </form>
</div>