<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Project-2-Blog</title>
    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <link rel="stylesheet" href="/assets/css/signup.css">


</head>

<body>

    <div class="header">

        <h2>Coders World</h2>

    </div>
    <br>
    <button class="postBtn" type="button">
        <h3>Click here to submit a new article!</h3>
    </button>
    <br>



    <button onclick="document.getElementById('id01').style.display='block'" style="width:100%;">
        <h3> Click here to sign up</h3>
    </button>

    {{{body}}}

    <div class="footer">
        <h2>Conect with us below!</h2>
        <nav>
            <a href="#"><img class="icon" src="/assets/images/FB Icon.png" alt="Facebook logo"></a>
            <a href="#"><a href="#"><img class="icon" src="/assets/images/twitter.png" alt="Twitter Logo"></a>
                <a href="#"><img class="icon" src="/assets/images/IG logo.jfif" alt="Instagram Logo"></a>

        </nav>
    </div>

    <script src="/assets/javascript/signup.js"></script>
</body>

</html>