
* {
    box-sizing: border-box;
  }

  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  
  .container{
    width: 810px;
    margin: 0 auto;
    
}
 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }